@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
   padding: 0;
}

body{
    height: 100vh;
    font-family:"outfit", sans-serif;
    
}

.container {
    background-image: url(img/Verstappen-full-wets-Belgium-Rain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.titulo{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    padding-left: 10px;
    color: aliceblue;
}

nav{
    font-weight: bold;
    padding-right: 10px ;
    display: flex;

}

nav a{
    text-decoration: none;
    color: aliceblue;
    height: 50px;
    width: 145px;

    justify-content: center;
    align-items: center;
    display: flex;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

nav a:hover{
    background-color: rgb(201, 2, 2);
    height: 50px;
    width: 145px;
    background-color: rgb(201, 2, 2);
    border-radius: 6px;
    transform: scale(1.01);
}

ul{
    font-weight: bold;
    display: flex;
    padding-left: 10px;
    gap: 20px;
}


main{
    display: flex;
    padding-left: 29px;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    color: rgb(252, 252, 252);
}


main{
    display: flex;
    justify-content: end;
    padding-bottom: 150px;
}


main h1{
    font-size: 90px;
}

main p{
    font-size: 20px;
}

