@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "outfit", sans-serif;
    background-color: #363636;
}

.container {
    background-image: url(img/Verstappen-full-wets-Belgium-Rain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    padding-left: 10px;
    color: aliceblue;
}

nav {
    font-weight: bold;
    padding-right: 10px;
    display: flex;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    height: 50px;
    width: 145px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: rgb(201, 2, 2);
    height: 50px;
    width: 145px;
    background-color: rgb(201, 2, 2);
    border-radius: 6px;
    transform: scale(1.01);
}

ul {
    font-weight: bold;
    display: flex;
    padding-left: 10px;
    gap: 20px;
}

main {
    display: flex;
    padding-left: 29px;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    color: rgb(252, 252, 252);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

main h1 {
    font-size: 90px;
}

main p {
    font-size: 20px;
}

.cartoes-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    background-color: #363636;
    flex-wrap: wrap; 
}

.cartao {
    background-color: #000000;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    color: aliceblue;
    padding: 20px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    background-size: cover; 
    background-position: center; 
    max-height: 700px;
    height: 700px; 
    position: relative; 
    overflow: hidden; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}


.cartao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
    opacity: 0;
    transition: opacity 0.3s ease;
}


.cartao:hover::before {
    opacity: 1;
}


.cartao:hover::after {
    content: "Red Bull RB19"; 
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    position: absolute;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    z-index: 2;
    text-align: center; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
}



.cartao:hover::after {
    opacity: 1;  
}



.cartao:hover::after {
    opacity: 1;  
}


@media (max-width: 768px) {
    .cartao {
        width: 45%;  
    }
}

@media (max-width: 480px) {
    .cartao {
        width: 90%;  
    }
}